extends _app-section
block content
	ul.app--message--list
		li
			ul.app--message--conversation
				each message in messages
					if message.sender.screen_name !== userData.screen_name
						li.app--message
							.app--avatar(style=`background-image: url(${message.sender.profile_image_url})`)
								img(src=`${message.sender.profile_image_url}` alt=`${message.sender.screen_name}`)
							p.app--message--text #{message.text}
							p.app--message--timestamp #{message.created_at}
					else
						li.app--message--me
							.app--avatar(style=`background-image: url(${message.sender.profile_image_url})`)
								img(src=`${message.sender.profile_image_url}` alt=`${message.sender.screen_name}`)
							p.app--message--text @#{message.recipient_screen_name} - #{message.text}
							p.app--message--timestamp(data_created_at=`${message.created_at}`)
